<!doctype html>
<html lang="pt-br">
    <head>
        <title>Filters - AngularJS</title>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body ng-app="myApp">
        <!--
            currency - Format a number to a currency format
            date - Format a date to a specified format
            filter - Select a subset of itens fro  an array
            json - Format an object to a JSON string
            limitTo - Limits an array/string, into a specified number of elements/characters
            lowercase - Format a string to lower case
            number - Format a number to a string
            orderBy - Orders an array by an expression
            uppercase - Format a string to upper case
        -->
        <div ng-controller="personController">
            <p>The name is {{firstName + " " + lastName | uppercase}}</p>
            <p>The name is {{firstName + " " + lastName | lowercase}}</p>
        </div>

        <div ng-controller="namesAndCountryController">
            <ul>
                <li ng-repeat="x in names | orderBy:'country'">
                    {{x.name + " is from " + x.country}}
                </li>
            </ul>

            <table>
                <tr>
                    <th ng-click="orderByMe('name')">Name</th>
                    <th ng-click="orderByMe('country')">Country</th>
                </tr>
                <tr ng-repeat="x in names | orderBy:myOrderBy">
                    <td>{{x.name}}</td>
                    <td>{{x.country}}</td>
                </tr>
            </table>
        </div>

        <div ng-controller="costController">
            <h1>Price: {{price | currency : "R$ "}}</h1>
        </div>
        <div ng-controller="namesController">
            <input placeholder="search..." ng-model="search"/>
            <ul>
                <li ng-repeat="x in names | filter : search">
                    {{x}}
                </li>
            </ul>

            <input type="text" placeholder="filter by name" ng-model="filterByName"/>
            <input type="text" placeholder="filter by city" ng-model="filterByCity"/>
            <ul>
                <li ng-repeat="p in customers | filter : {'name':filterByName, 'city':filterByCity}">
                    {{p.name + " is located in " + p.city}}
                </li>
            </ul>
        </div>

        <div ng-controller="customFilterController">
            <ul>
                <li ng-repeat="x in names">
                    {{x | myFormat}}
                </li>
            </ul>
        </div>
        <script>
            var app = angular.module("myApp", []);
            app.controller("personController", function ($scope) {
                $scope.firstName = "Welson";
                $scope.lastName = "Teles";
            });
            app.controller("namesAndCountryController", function ($scope) {
                $scope.names = [
                    {name:'Jani',country:'Norway'},
                    {name:'Carl',country:'Sweden'},
                    {name:'Margareth',country:'England'},
                    {name:'Hege',country:'Norway'},
                    {name:'Joe',country:'Denmark'},
                    {name:'Gustav',country:'Sweden'},
                    {name:'Birgit',country:'Denmark'},
                    {name:'Mary',country:'England'},
                    {name:'Kai',country:'Norway'}
                ];

                $scope.orderByMe = function (sort) {
                    $scope.myOrderBy = sort;
                }
            });

            app.controller("costController", function ($scope) {
                $scope.price = 68.58;
            });

            app.controller("namesController", function($scope) {
                $scope.names = [
                    'Jani',
                    'Carl',
                    'Margareth',
                    'Hege',
                    'Joe',
                    'Gustav',
                    'Birgit',
                    'Mary',
                    'Kai'
                ];
                $scope.customers = [
                    {"name" : "Alfreds Futterkiste", "city" : "Berlin"},
                    {"name" : "Around the Horn", "city" : "London"},
                    {"name" : "B's Beverages", "city" : "London"},
                    {"name" : "Bolido Comidas preparadas", "city" : "Madrid"},
                    {"name" : "Bon app", "city" : "Marseille"},
                    {"name" : "Bottom-Dollar Marketse" ,"city" : "Tsawassen"},
                    {"name" : "Cactus Comidas para llevar", "city" : "Buenos Aires"}
                ];
            });

            app.filter("myFormat", function(){
                return function (x) {
                    var i, c, txt = "";
                    for(i = 0; i < x.length; i++) {
                        c = x[i];
                        if (i % 2 == 0){
                            c = c.toUpperCase();
                        }
                        txt += c;
                    }
                    return txt;
                }
            });

            app.controller("customFilterController", function($scope) {
                $scope.names = ["Welson", "Wilson", "Miguel"];
            });
        </script>
    </body>
</html>